body::-webkit-scrollbar {
    width: 7px;
    background: $negro;
}

body::-webkit-scrollbar-thumb {
    background: $amarillo;
    border-radius: 5px;
}

main {
    .ir-arriba {
        display: inline-block;
        color: $rosa;
        padding: 1vh 1vw;
        font-size: 1.5rem;
        background: $celeste;
        position: fixed;
        cursor: pointer;
        bottom: 2%;
        right: 1%;
    }
    .sidebar {
        background: rgb(92, 175, 193);
        background: linear-gradient(0deg, rgba(92, 175, 193, 1) 30%, rgba(228, 27, 69, 1) 100%);
        div {
            margin-top: 90%;
            a {
                transition: transform 250ms;
                display: flex;
                justify-content: center;
                img {
                    width: 80%;
                }
            }
            a:hover {
                transform: translateY(-10px);
            }
        }
    }
    .cuerpo {
        .primer {
            background-image: url(../img/una-taza-de-javascript.png);
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100vh;
        }
        .perfil {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            background: $negro;
            padding: 10vh 0vw;
            .imagen {
                display: flex;
                justify-content: center;
                img {
                    width: 60%;
                }
            }
            .texto {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                h1 {
                    font-family: 'Yogomi', cursive;
                    width: 100vw;
                    color: $rosa;
                    padding: 2%;
                }
                p {
                    font-family: 'Roboto', sans-serif;
                    text-align: justify;
                    span {
                        font-family: 'Yogomi', cursive;
                        color: $celeste;
                        font-size: 2rem;
                    }
                    width: 50vw;
                    color: $blanco;
                }
            }
        }
        .formacion {
            background: $negro;
            padding: 5vh 0vw;
            display: flex;
            flex-direction: column;
            h1 {
                font-family: 'Yogomi', cursive;
                color: $rosa;
            }
            div {
                margin-top: 3vh;
                display: flex;
                flex-direction: row-reverse;
                .imagen {
                    display: flex;
                    justify-content: center;
                    img {
                        width: 60%;
                    }
                }
                .texto {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    text-align: center;
                    h2 {
                        font-family: 'Yogomi', cursive;
                        width: 100vw;
                        color: $amarillo;
                    }
                    p {
                        font-family: 'Roboto', sans-serif;
                        text-align: justify;
                        span {
                            font-family: 'Yogomi', cursive;
                            color: $celeste;
                            font-size: 2rem;
                        }
                        width: 50vw;
                        color: $blanco;
                    }
                }
            }
            div:last-child {
                flex-direction: row;
            }
        }
        .habilidades {
            background: $negro;
            padding: 5vh 0vw;
            display: flex;
            flex-direction: column;
            h1 {
                font-family: 'Yogomi', cursive;
                color: $rosa;
            }
            nav {
                padding: 5vh 0vw;
                .nav {
                    button {
                        border: none;
                        background: $negro;
                        color: $celeste;
                    }
                    button:hover {
                        color: $amarillo;
                    }
                }
            }
            .tab-content {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                .hab {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    div {
                        width: 33.3%;
                        color: $blanco;
                        padding: 2vh 0vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        img {
                            margin: 0 auto;
                            width: 20%;
                        }
                        p {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}